<div style="text-align: center">
<a href={{ site.baseurl }}{% link _posts/2023-12-28-research-from-1823.md %}>1823</a> &#8729;
<a href={{ site.baseurl }}{% link _posts/2024-12-29-research-from-1824.md %}>1824</a> &#8759;
<a href={{ site.baseurl }}{% link _posts/2023-11-14-research-from-1873.md %}>1873</a> &#8729;
<a href={{ site.baseurl }}{% link _posts/2024-11-22-research-from-1874.md %}>1874</a>  &#8759;
<a href={{ site.baseurl }}{% link _posts/2023-07-21-research-from-1923.md %}>1923</a> &#8729;
<a href={{ site.baseurl }}{% link _posts/2024-07-07-research-from-1924.md %}>1924</a> 
</div>